#ofertas{
    width: 100%;
    height: 800px;
    border: 1px red solid;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;

}
#ofertas span {
    display: inline-block;
    width: 100px;
    height: 150px;
    border: 1px blue solid;
   
}